In [1]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('iteration4').getOrCreate()

In [2]:
from pyspark.sql.types import (StructField,StringType,IntegerType,FloatType,StructType,DateType,TimestampType)
from pyspark.sql.functions import isnan, when, count, col
from pyspark.sql.functions import mean
from pyspark import SparkContext
from pyspark.sql import SQLContext
from pyspark.sql import functions as F
from pyspark.sql.window import Window

In [3]:
df = spark.read.csv("./Measurement_summary.csv",inferSchema=True,header="true" )

In [4]:
df.show()

+----------------+------------+--------------------+----------+-----------+-----+-----+-----+---+----+----+
|Measurement_date|Station_code|             Address|  Latitude|  Longitude|  SO2|  NO2|   O3| CO|PM10|PM25|
+----------------+------------+--------------------+----------+-----------+-----+-----+-----+---+----+----+
|   2017/1/1 0:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.059|0.002|1.2|  73|  57|
|   2017/1/1 1:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.058|0.002|1.2|  71|  59|
|   2017/1/1 2:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.056|0.002|1.2|  70|  59|
|   2017/1/1 3:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.056|0.002|1.2|  70|  58|
|   2017/1/1 4:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.051|0.002|1.2|  69|  61|
|   2017/1/1 5:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.046|0.002|1.1|  70|  61|
|   2017/1/1 6:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.049|0.002|1.1|  66|  57|
|   2017/1/1 7:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.045|0.002|1.0|  71|  60|
|   2017/1/1 8:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.047|0.002|1.1|  72|  60|
|   2017/1/1 9:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.047|0.002|1.1|  74|  63|
|  2017/1/1 10:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.045|0.004|1.0|  76|  68|
|  2017/1/1 11:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.048|0.005|1.0|  83|  74|
|  2017/1/1 12:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.054|0.005|1.0|  93|  79|
|  2017/1/1 13:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.005| 0.05|0.007|1.0|  94|  79|
|  2017/1/1 14:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.006|0.055|0.008|0.9|  93|  78|
|  2017/1/1 15:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.006|0.056|0.008|0.8|  87|  69|
|  2017/1/1 16:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.006|0.063|0.004|0.9|  87|  69|
|  2017/1/1 17:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.005|0.063|0.002|0.9|  91|  72|
|  2017/1/1 18:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.005|0.063|0.002|1.0|  91|  69|
|  2017/1/1 19:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.005|0.062|0.002|1.0|  92|  70|
+----------------+------------+--------------------+----------+-----------+-----+-----+-----+---+----+----+
only showing top 20 rows

In [5]:
df.columns

['Measurement_date',
 'Station_code',
 'Address',
 'Latitude',
 'Longitude',
 'SO2',
 'NO2',
 'O3',
 'CO',
 'PM10',
 'PM25']

In [6]:
df.head(2)

[Row(Measurement_date='2017/1/1 0:00', Station_code=101, Address='19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republic of Korea', Latitude=37.5720164, Longitude=127.0050075, SO2=0.004, NO2=0.059, O3=0.002, CO=1.2, PM10=73, PM25=57),
 Row(Measurement_date='2017/1/1 1:00', Station_code=101, Address='19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republic of Korea', Latitude=37.5720164, Longitude=127.0050075, SO2=0.004, NO2=0.058, O3=0.002, CO=1.2, PM10=71, PM25=59)]

In [7]:
df.count()

647511

In [8]:
df.printSchema()

root
 |-- Measurement_date: string (nullable = true)
 |-- Station_code: integer (nullable = true)
 |-- Address: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- SO2: double (nullable = true)
 |-- NO2: double (nullable = true)
 |-- O3: double (nullable = true)
 |-- CO: double (nullable = true)
 |-- PM10: integer (nullable = true)
 |-- PM25: integer (nullable = true)

In [9]:
df.describe().show()

+-------+----------------+------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-----------------+------------------+
|summary|Measurement_date|      Station_code|             Address|           Latitude|          Longitude|                 SO2|                NO2|                  O3|                 CO|             PM10|              PM25|
+-------+----------------+------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-----------------+------------------+
|  count|          647511|            647511|              647511|             647511|             647511|              647294|             647511|              647511|             647511|           647511|            647511|
|   mean|            null|113.00022084566903|                null|  37.55348357387394| 126.98933965679183|-0.00146023599786...|0.02251850238839498|0.017978886845193828| 0.5091970638332822|43.70805129179273|25.411994545266413|
| stddev|            null| 7.211315104814956|                null|0.05327291151079699|0.07879020813315388| 0.07669734093350773|0.11515296103696089| 0.09930815588029925|0.40531851589503587|71.13734192328626|43.924595217522885|
|    min|   2017/1/1 0:00|               101|10, Poeun-ro 6-gi...|         37.4523569|        126.8351506|                -1.0|               -1.0|                -1.0|               -1.0|               -1|                -1|
|    max|   2019/9/9 9:00|               125|71, Gangseo-ro 45...|         37.6587743|        127.1367917|               3.736|             38.445|                33.6|               71.7|             3586|              6256|
+-------+----------------+------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-----------------+------------------+

In [12]:
plot1=df.groupBy("PM25").count().orderBy("PM25")

In [14]:
plot1.count()

333

In [15]:
plot1.show(333)

+----+-----+
|PM25|count|
+----+-----+
|  -1| 3973|
|   0| 6123|
|   1| 7798|
|   2| 5266|
|   3|13007|
|   4|11094|
|   5|12765|
|   6|15299|
|   7|15733|
|   8|17073|
|   9|17915|
|  10|19349|
|  11|19669|
|  12|20827|
|  13|20367|
|  14|20844|
|  15|20619|
|  16|21238|
|  17|21294|
|  18|19762|
|  19|18914|
|  20|18049|
|  21|17262|
|  22|16677|
|  23|15306|
|  24|14692|
|  25|13873|
|  26|13186|
|  27|12831|
|  28|11525|
|  29|10722|
|  30|10335|
|  31| 9423|
|  32| 8984|
|  33| 8337|
|  34| 8010|
|  35| 7211|
|  36| 6926|
|  37| 6501|
|  38| 6518|
|  39| 5608|
|  40| 5445|
|  41| 4902|
|  42| 4659|
|  43| 4260|
|  44| 4178|
|  45| 3766|
|  46| 3586|
|  47| 3358|
|  48| 3288|
|  49| 2955|
|  50| 2760|
|  51| 2548|
|  52| 2480|
|  53| 2302|
|  54| 2212|
|  55| 2034|
|  56| 1983|
|  57| 1812|
|  58| 1713|
|  59| 1789|
|  60| 1601|
|  61| 1511|
|  62| 1479|
|  63| 1285|
|  64| 1310|
|  65| 1130|
|  66| 1150|
|  67| 1061|
|  68| 1075|
|  69|  991|
|  70|  896|
|  71|  888|
|  72|  837|
|  73|  782|
|  74|  769|
|  75|  705|
|  76|  764|
|  77|  653|
|  78|  656|
|  79|  600|
|  80|  632|
|  81|  542|
|  82|  529|
|  83|  524|
|  84|  517|
|  85|  425|
|  86|  465|
|  87|  408|
|  88|  399|
|  89|  390|
|  90|  373|
|  91|  357|
|  92|  323|
|  93|  292|
|  94|  285|
|  95|  273|
|  96|  250|
|  97|  288|
|  98|  275|
|  99|  244|
| 100|  237|
| 101|  232|
| 102|  196|
| 103|  216|
| 104|  203|
| 105|  173|
| 106|  169|
| 107|  190|
| 108|  168|
| 109|  159|
| 110|  163|
| 111|  143|
| 112|  135|
| 113|  109|
| 114|  120|
| 115|  116|
| 116|  126|
| 117|  114|
| 118|   99|
| 119|   96|
| 120|   82|
| 121|   93|
| 122|   91|
| 123|   93|
| 124|   74|
| 125|   61|
| 126|   61|
| 127|   59|
| 128|   74|
| 129|   59|
| 130|   69|
| 131|   53|
| 132|   67|
| 133|   66|
| 134|   51|
| 135|   46|
| 136|   52|
| 137|   47|
| 138|   57|
| 139|   56|
| 140|   56|
| 141|   43|
| 142|   46|
| 143|   47|
| 144|   42|
| 145|   43|
| 146|   46|
| 147|   39|
| 148|   44|
| 149|   26|
| 150|   34|
| 151|   42|
| 152|   32|
| 153|   24|
| 154|   27|
| 155|   27|
| 156|   34|
| 157|   24|
| 158|   19|
| 159|   23|
| 160|   22|
| 161|   14|
| 162|   22|
| 163|   11|
| 164|   16|
| 165|    9|
| 166|    8|
| 167|   12|
| 168|   13|
| 169|    9|
| 170|    9|
| 171|   11|
| 172|    5|
| 173|   10|
| 174|    5|
| 175|    7|
| 176|    8|
| 177|    7|
| 178|    3|
| 179|    5|
| 180|    2|
| 181|    1|
| 183|    2|
| 185|    5|
| 186|    2|
| 187|    2|
| 188|    3|
| 190|    1|
| 191|    4|
| 192|    1|
| 195|    1|
| 198|    2|
| 199|    1|
| 200|    1|
| 201|    1|
| 202|    1|
| 204|    2|
| 205|    4|
| 206|    2|
| 208|    1|
| 210|    1|
| 212|    1|
| 215|    2|
| 216|    2|
| 217|    2|
| 218|    1|
| 219|    1|
| 220|    3|
| 222|    3|
| 223|    4|
| 224|    1|
| 227|    2|
| 230|    1|
| 232|    1|
| 233|    1|
| 234|    1|
| 235|    1|
| 237|    2|
| 238|    4|
| 239|    2|
| 245|    1|
| 246|    1|
| 247|    2|
| 248|    1|
| 249|    1|
| 251|    2|
| 252|    1|
| 258|    3|
| 261|    1|
| 262|    3|
| 263|    2|
| 265|    1|
| 270|    1|
| 271|    1|
| 272|    1|
| 273|    1|
| 274|    1|
| 276|    1|
| 277|    1|
| 278|    2|
| 279|    1|
| 280|    2|
| 281|    2|
| 282|    1|
| 283|    2|
| 284|    1|
| 287|    1|
| 289|    1|
| 296|    1|
| 297|    2|
| 298|    1|
| 300|    2|
| 304|    1|
| 305|    1|
| 307|    1|
| 309|    2|
| 310|    1|
| 312|    2|
| 313|    3|
| 314|    1|
| 316|    1|
| 319|    1|
| 320|    1|
| 321|    1|
| 323|    2|
| 325|    1|
| 327|    1|
| 330|    1|
| 336|    1|
| 341|    1|
| 343|    1|
| 345|    1|
| 347|    3|
| 349|    2|
| 350|    1|
| 357|    1|
| 365|    1|
| 367|    1|
| 368|    1|
| 369|    1|
| 370|    1|
| 372|    1|
| 373|    1|
| 380|    1|
| 381|    1|
| 387|    1|
| 390|    2|
| 395|    1|
| 407|    1|
| 409|    1|
| 414|    1|
| 435|    1|
| 437|    1|
| 441|    1|
| 446|    1|
| 453|    1|
| 456|    1|
| 464|    1|
| 467|    1|
| 473|    1|
| 476|    1|
| 496|    1|
| 497|    1|
| 513|    1|
| 516|    1|
| 572|    1|
| 576|    1|
| 586|    1|
| 592|    1|
| 610|    1|
| 652|    1|
| 660|    1|
| 679|    1|
| 685|    1|
| 686|    1|
| 687|    2|
| 688|    1|
| 690|    5|
| 691|    2|
| 692|    1|
| 694|    1|
| 695|    1|
| 697|    1|
| 714|    1|
| 717|    1|
| 718|    1|
| 719|    1|
| 720|    1|
| 724|    1|
| 985| 1028|
| 995|    2|
|6256|    1|
+----+-----+

In [32]:
df.select([count(when(isnan(c)|col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+----------------+------------+-------+--------+---------+---+---+---+---+----+----+
|Measurement_date|Station_code|Address|Latitude|Longitude|SO2|NO2| O3| CO|PM10|PM25|
+----------------+------------+-------+--------+---------+---+---+---+---+----+----+
|               0|           0|      0|       0|        0|217|  0|  0|  0|   0|   0|
+----------------+------------+-------+--------+---------+---+---+---+---+----+----+

In [22]:
quantiles = df.approxQuantile("PM25", [0.25,0.998], 0.00)

In [23]:
quantiles[1]

171.0

In [25]:
quantiles10 = df.approxQuantile("PM25", [0.25,0.99], 0.00)
quantiles10[1]

100.0

In [27]:
df2=df.filter("Station_code=101")

In [33]:
df2.count()

25905

In [34]:
df2.show(5)

+----------------+------------+--------------------+----------+-----------+-----+-----+-----+---+----+----+
|Measurement_date|Station_code|             Address|  Latitude|  Longitude|  SO2|  NO2|   O3| CO|PM10|PM25|
+----------------+------------+--------------------+----------+-----------+-----+-----+-----+---+----+----+
|   2017/1/1 0:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.059|0.002|1.2|  73|  57|
|   2017/1/1 1:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.058|0.002|1.2|  71|  59|
|   2017/1/1 2:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.056|0.002|1.2|  70|  59|
|   2017/1/1 3:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.056|0.002|1.2|  70|  58|
|   2017/1/1 4:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.051|0.002|1.2|  69|  61|
+----------------+------------+--------------------+----------+-----------+-----+-----+-----+---+----+----+
only showing top 5 rows

In [35]:
df2.select([count(when(isnan(c)|col(c).isNull(), c)).alias(c) for c in df2.columns]).show()

+----------------+------------+-------+--------+---------+---+---+---+---+----+----+
|Measurement_date|Station_code|Address|Latitude|Longitude|SO2|NO2| O3| CO|PM10|PM25|
+----------------+------------+-------+--------+---------+---+---+---+---+----+----+
|               0|           0|      0|       0|        0| 26|  0|  0|  0|   0|   0|
+----------------+------------+-------+--------+---------+---+---+---+---+----+----+

In [36]:
mean_SO2 = df2.select(mean(df2['SO2'])).collect()

In [37]:
mean_SO2[0][0]

0.004308126279995904

In [38]:
mean_SO2_val = mean_SO2[0][0]

In [39]:
df3=df2.na.fill(mean_SO2_val, subset=['SO2'])

In [40]:
df3.select([count(when(isnan(c)|col(c).isNull(), c)).alias(c) for c in df3.columns]).show()

+----------------+------------+-------+--------+---------+---+---+---+---+----+----+
|Measurement_date|Station_code|Address|Latitude|Longitude|SO2|NO2| O3| CO|PM10|PM25|
+----------------+------------+-------+--------+---------+---+---+---+---+----+----+
|               0|           0|      0|       0|        0|  0|  0|  0|  0|   0|   0|
+----------------+------------+-------+--------+---------+---+---+---+---+----+----+

In [41]:
df3.describe().show()

+-------+----------------+------------+--------------------+-----------------+------------------+--------------------+--------------------+--------------------+------------------+-----------------+------------------+
|summary|Measurement_date|Station_code|             Address|         Latitude|         Longitude|                 SO2|                 NO2|                  O3|                CO|             PM10|              PM25|
+-------+----------------+------------+--------------------+-----------------+------------------+--------------------+--------------------+--------------------+------------------+-----------------+------------------+
|  count|           25905|       25905|               25905|            25905|             25905|               25905|               25905|               25905|             25905|            25905|             25905|
|   mean|            null|       101.0|                null|37.57201640002134|127.00500749994949|0.004308126279995...|0.030516348195328023|0.023517853696196384|0.5837637521713543| 37.9656050955414|22.850453580389885|
| stddev|            null|         0.0|                null|              0.0|               0.0|0.010051425447670856|  0.0377434404832314|0.038710004959524306| 0.480945248524788|27.42799008282941| 20.00520957588037|
|    min|   2017/1/1 0:00|         101|19, Jong-ro 35ga-...|       37.5720164|       127.0050075|                -1.0|                -1.0|                -1.0|              -1.0|               -1|                -1|
|    max|   2019/9/9 9:00|         101|19, Jong-ro 35ga-...|       37.5720164|       127.0050075|               0.406|               0.109|               0.325|              40.0|              516|               513|
+-------+----------------+------------+--------------------+-----------------+------------------+--------------------+--------------------+--------------------+------------------+-----------------+------------------+

In [43]:
mean_CO=df3.select(mean(df2['CO'])).collect()

In [44]:
mean_PM10=df3.select(mean(df2['PM10'])).collect()

In [45]:
mean_PM25=df3.select(mean(df2['PM25'])).collect()

In [46]:
mean_NO2=df3.select(mean(df2['NO2'])).collect()

In [47]:
mean_O3=df3.select(mean(df2['O3'])).collect()

In [48]:
df4 = df3.withColumn("SO2", \
              when(df3["SO2"] == -1,mean_SO2_val ).otherwise(df3["SO2"])).withColumn("NO2", \
              when(df3["NO2"] == -1,mean_NO2[0][0] ).otherwise(df3["NO2"])).withColumn("O3", \
              when(df3["O3"] == -1,mean_O3[0][0] ).otherwise(df3["O3"])).withColumn("CO", \
              when(df3["CO"] == -1,mean_CO[0][0] ).otherwise(df3["CO"])).withColumn("PM10", \
              when(df3["PM10"] == -1,mean_PM10[0][0] ).otherwise(df3["PM10"])).withColumn("PM25", \
              when(df3["PM25"] == -1,mean_PM25[0][0] ).otherwise(df3["PM25"]))

In [49]:
df4.describe("SO2","NO2","PM10","PM25","CO","O3").show(truncate = False)

+-------+--------------------+--------------------+------------------+------------------+------------------+--------------------+
|summary|SO2                 |NO2                 |PM10              |PM25              |CO                |O3                  |
+-------+--------------------+--------------------+------------------+------------------+------------------+--------------------+
|count  |25905               |25905               |25905             |25905             |25905             |25905               |
|mean   |0.004385664062376209|0.03163020489285626 |38.01073028963004 |22.889122526553802|0.5854755987284198|0.024624145914049864|
|stddev |0.004811476912778703|0.016596226285800948|27.395879348007718|19.982107179194774|0.4781151915162288|0.01910201575997793 |
|min    |0.0                 |0.0                 |0.0               |0.0               |0.0               |0.0                 |
|max    |0.406               |0.109               |516.0             |513.0             |40.0              |0.325               |
+-------+--------------------+--------------------+------------------+------------------+------------------+--------------------+

In [78]:
quantiles = df4.approxQuantile("PM25", [0.25,0.987], 0.0)
print(quantiles[1],quantiles[0])

85.0 11.0

In [79]:
IQR = quantiles[1] - quantiles[0]
bounds = {}
bounds["PM25"] = [quantiles[0] - 1.5*IQR, quantiles[1] + 1.5*IQR]
print("bounds: ",bounds)

bounds:  {'PM25': [-100.0, 196.0]}

In [81]:
quantiles2 = df4.approxQuantile("PM10", [0.25,0.96], 0.0)
print(quantiles2[1],quantiles2[0])

92.0 21.0

In [82]:
IQR2 = quantiles2[1] - quantiles2[0]
bounds = {}
bounds["PM10"] = [quantiles2[0] - 1.5*IQR2, quantiles2[1] + 1.5*IQR2]
print("bounds: ",bounds)

bounds:  {'PM10': [-85.5, 198.5]}

In [83]:
df5 = df4.withColumn("PM10", \
              when(df4["PM10"] >199,mean_PM10[0][0] ).otherwise(df4["PM10"])).withColumn("PM25", \
              when(df4["PM25"] >196,mean_PM25[0][0] ).otherwise(df4["PM25"]))

In [85]:
df5.describe("PM10","PM25").show()

+-------+------------------+------------------+
|summary|              PM10|              PM25|
+-------+------------------+------------------+
|  count|             25905|             25905|
|   mean| 37.51481102558707|22.561284814181356|
| stddev|24.751142376615665| 17.37208797651781|
|    min|               0.0|               0.0|
|    max|             199.0|             191.0|
+-------+------------------+------------------+

In [86]:
from pyspark.sql.functions import monotonically_increasing_id

In [87]:
df6 = df5.withColumn("id", monotonically_increasing_id())

In [88]:
df6.show()

+----------------+------------+--------------------+----------+-----------+-----+-----+-----+---+----+----+---+
|Measurement_date|Station_code|             Address|  Latitude|  Longitude|  SO2|  NO2|   O3| CO|PM10|PM25| id|
+----------------+------------+--------------------+----------+-----------+-----+-----+-----+---+----+----+---+
|   2017/1/1 0:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.059|0.002|1.2|73.0|57.0|  0|
|   2017/1/1 1:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.058|0.002|1.2|71.0|59.0|  1|
|   2017/1/1 2:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.056|0.002|1.2|70.0|59.0|  2|
|   2017/1/1 3:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.056|0.002|1.2|70.0|58.0|  3|
|   2017/1/1 4:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.051|0.002|1.2|69.0|61.0|  4|
|   2017/1/1 5:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.046|0.002|1.1|70.0|61.0|  5|
|   2017/1/1 6:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.049|0.002|1.1|66.0|57.0|  6|
|   2017/1/1 7:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.045|0.002|1.0|71.0|60.0|  7|
|   2017/1/1 8:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.047|0.002|1.1|72.0|60.0|  8|
|   2017/1/1 9:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.047|0.002|1.1|74.0|63.0|  9|
|  2017/1/1 10:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.045|0.004|1.0|76.0|68.0| 10|
|  2017/1/1 11:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.048|0.005|1.0|83.0|74.0| 11|
|  2017/1/1 12:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.054|0.005|1.0|93.0|79.0| 12|
|  2017/1/1 13:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.005| 0.05|0.007|1.0|94.0|79.0| 13|
|  2017/1/1 14:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.006|0.055|0.008|0.9|93.0|78.0| 14|
|  2017/1/1 15:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.006|0.056|0.008|0.8|87.0|69.0| 15|
|  2017/1/1 16:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.006|0.063|0.004|0.9|87.0|69.0| 16|
|  2017/1/1 17:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.005|0.063|0.002|0.9|91.0|72.0| 17|
|  2017/1/1 18:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.005|0.063|0.002|1.0|91.0|69.0| 18|
|  2017/1/1 19:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.005|0.062|0.002|1.0|92.0|70.0| 19|
+----------------+------------+--------------------+----------+-----------+-----+-----+-----+---+----+----+---+
only showing top 20 rows

In [89]:
my_window = Window.partitionBy().orderBy("id")
df6=df6.withColumn("pre",F.lag(df6.PM25).over(my_window))

In [90]:
df6.show()

+----------------+------------+--------------------+----------+-----------+-----+-----+-----+---+----+----+---+----+
|Measurement_date|Station_code|             Address|  Latitude|  Longitude|  SO2|  NO2|   O3| CO|PM10|PM25| id| pre|
+----------------+------------+--------------------+----------+-----------+-----+-----+-----+---+----+----+---+----+
|   2017/1/1 0:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.059|0.002|1.2|73.0|57.0|  0|null|
|   2017/1/1 1:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.058|0.002|1.2|71.0|59.0|  1|57.0|
|   2017/1/1 2:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.056|0.002|1.2|70.0|59.0|  2|59.0|
|   2017/1/1 3:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.056|0.002|1.2|70.0|58.0|  3|59.0|
|   2017/1/1 4:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.051|0.002|1.2|69.0|61.0|  4|58.0|
|   2017/1/1 5:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.046|0.002|1.1|70.0|61.0|  5|61.0|
|   2017/1/1 6:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.049|0.002|1.1|66.0|57.0|  6|61.0|
|   2017/1/1 7:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.045|0.002|1.0|71.0|60.0|  7|57.0|
|   2017/1/1 8:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.047|0.002|1.1|72.0|60.0|  8|60.0|
|   2017/1/1 9:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.047|0.002|1.1|74.0|63.0|  9|60.0|
|  2017/1/1 10:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.045|0.004|1.0|76.0|68.0| 10|63.0|
|  2017/1/1 11:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.048|0.005|1.0|83.0|74.0| 11|68.0|
|  2017/1/1 12:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.054|0.005|1.0|93.0|79.0| 12|74.0|
|  2017/1/1 13:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.005| 0.05|0.007|1.0|94.0|79.0| 13|79.0|
|  2017/1/1 14:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.006|0.055|0.008|0.9|93.0|78.0| 14|79.0|
|  2017/1/1 15:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.006|0.056|0.008|0.8|87.0|69.0| 15|78.0|
|  2017/1/1 16:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.006|0.063|0.004|0.9|87.0|69.0| 16|69.0|
|  2017/1/1 17:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.005|0.063|0.002|0.9|91.0|72.0| 17|69.0|
|  2017/1/1 18:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.005|0.063|0.002|1.0|91.0|69.0| 18|72.0|
|  2017/1/1 19:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.005|0.062|0.002|1.0|92.0|70.0| 19|69.0|
+----------------+------------+--------------------+----------+-----------+-----+-----+-----+---+----+----+---+----+
only showing top 20 rows

In [91]:
df6=df6.withColumn("diff",F.when(F.isnull(df6.PM25-df6.pre),0).otherwise(df6.PM25-df6.pre))

In [92]:
df6.show()

+----------------+------------+--------------------+----------+-----------+-----+-----+-----+---+----+----+---+----+----+
|Measurement_date|Station_code|             Address|  Latitude|  Longitude|  SO2|  NO2|   O3| CO|PM10|PM25| id| pre|diff|
+----------------+------------+--------------------+----------+-----------+-----+-----+-----+---+----+----+---+----+----+
|   2017/1/1 0:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.059|0.002|1.2|73.0|57.0|  0|null| 0.0|
|   2017/1/1 1:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.058|0.002|1.2|71.0|59.0|  1|57.0| 2.0|
|   2017/1/1 2:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.056|0.002|1.2|70.0|59.0|  2|59.0| 0.0|
|   2017/1/1 3:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.056|0.002|1.2|70.0|58.0|  3|59.0|-1.0|
|   2017/1/1 4:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.051|0.002|1.2|69.0|61.0|  4|58.0| 3.0|
|   2017/1/1 5:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.046|0.002|1.1|70.0|61.0|  5|61.0| 0.0|
|   2017/1/1 6:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.049|0.002|1.1|66.0|57.0|  6|61.0|-4.0|
|   2017/1/1 7:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.045|0.002|1.0|71.0|60.0|  7|57.0| 3.0|
|   2017/1/1 8:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.047|0.002|1.1|72.0|60.0|  8|60.0| 0.0|
|   2017/1/1 9:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.047|0.002|1.1|74.0|63.0|  9|60.0| 3.0|
|  2017/1/1 10:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.045|0.004|1.0|76.0|68.0| 10|63.0| 5.0|
|  2017/1/1 11:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.048|0.005|1.0|83.0|74.0| 11|68.0| 6.0|
|  2017/1/1 12:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.054|0.005|1.0|93.0|79.0| 12|74.0| 5.0|
|  2017/1/1 13:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.005| 0.05|0.007|1.0|94.0|79.0| 13|79.0| 0.0|
|  2017/1/1 14:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.006|0.055|0.008|0.9|93.0|78.0| 14|79.0|-1.0|
|  2017/1/1 15:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.006|0.056|0.008|0.8|87.0|69.0| 15|78.0|-9.0|
|  2017/1/1 16:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.006|0.063|0.004|0.9|87.0|69.0| 16|69.0| 0.0|
|  2017/1/1 17:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.005|0.063|0.002|0.9|91.0|72.0| 17|69.0| 3.0|
|  2017/1/1 18:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.005|0.063|0.002|1.0|91.0|69.0| 18|72.0|-3.0|
|  2017/1/1 19:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.005|0.062|0.002|1.0|92.0|70.0| 19|69.0| 1.0|
+----------------+------------+--------------------+----------+-----------+-----+-----+-----+---+----+----+---+----+----+
only showing top 20 rows

In [93]:
df_s = spark.read.csv("./status5.csv",header="true" )

In [97]:
df_s.show(2)
df_s.printSchema()
df_s.count()

+----------------+------+
|Measurement_date|status|
+----------------+------+
|   2017/1/1 0:00|     0|
|   2017/1/1 1:00|     0|
+----------------+------+
only showing top 2 rows

root
 |-- Measurement_date: string (nullable = true)
 |-- status: string (nullable = true)

25905

In [98]:
df_n = df6.join(df_s, df5.Measurement_date == df_s.Measurement_date,how='left').drop(df_s.Measurement_date)

In [100]:
df_n.show(5)

+----------------+------------+--------------------+----------+-----------+-----+-----+-----+---+----+----+---+----+----+------+
|Measurement_date|Station_code|             Address|  Latitude|  Longitude|  SO2|  NO2|   O3| CO|PM10|PM25| id| pre|diff|status|
+----------------+------------+--------------------+----------+-----------+-----+-----+-----+---+----+----+---+----+----+------+
|   2017/1/1 0:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.059|0.002|1.2|73.0|57.0|  0|null| 0.0|     0|
|   2017/1/1 1:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.058|0.002|1.2|71.0|59.0|  1|57.0| 2.0|     0|
|   2017/1/1 2:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.056|0.002|1.2|70.0|59.0|  2|59.0| 0.0|     0|
|   2017/1/1 3:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.056|0.002|1.2|70.0|58.0|  3|59.0|-1.0|     0|
|   2017/1/1 4:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.051|0.002|1.2|69.0|61.0|  4|58.0| 3.0|     0|
+----------------+------------+--------------------+----------+-----------+-----+-----+-----+---+----+----+---+----+----+------+
only showing top 5 rows

In [101]:
df_n.count()

25905

In [102]:
df_n.printSchema()

root
 |-- Measurement_date: string (nullable = true)
 |-- Station_code: integer (nullable = true)
 |-- Address: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- SO2: double (nullable = false)
 |-- NO2: double (nullable = true)
 |-- O3: double (nullable = true)
 |-- CO: double (nullable = true)
 |-- PM10: double (nullable = true)
 |-- PM25: double (nullable = true)
 |-- id: long (nullable = false)
 |-- pre: double (nullable = true)
 |-- diff: double (nullable = true)
 |-- status: string (nullable = true)

In [103]:
from pyspark.sql.functions import unix_timestamp, col
from pyspark.sql.types import TimestampType

In [105]:
df7 = df_n.select(unix_timestamp(df_n.Measurement_date, 'yyyy/MM/dd HH:mm').cast(TimestampType()).alias("timestamp"),
                  "Station_code","Address","Latitude","Longitude","SO2","NO2","O3","CO","PM10","PM25","id","diff","status")
df7.show()

+--------------------+------------+--------------------+----------+-----------+-----+-----+-----+---+----+----+---+----+------+
|           timestamp|Station_code|             Address|  Latitude|  Longitude|  SO2|  NO2|   O3| CO|PM10|PM25| id|diff|status|
+--------------------+------------+--------------------+----------+-----------+-----+-----+-----+---+----+----+---+----+------+
|2017-01-01 00:00:...|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.059|0.002|1.2|73.0|57.0|  0| 0.0|     0|
|2017-01-01 01:00:...|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.058|0.002|1.2|71.0|59.0|  1| 2.0|     0|
|2017-01-01 02:00:...|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.056|0.002|1.2|70.0|59.0|  2| 0.0|     0|
|2017-01-01 03:00:...|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.056|0.002|1.2|70.0|58.0|  3|-1.0|     0|
|2017-01-01 04:00:...|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.051|0.002|1.2|69.0|61.0|  4| 3.0|     0|
|2017-01-01 05:00:...|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.046|0.002|1.1|70.0|61.0|  5| 0.0|     0|
|2017-01-01 06:00:...|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.049|0.002|1.1|66.0|57.0|  6|-4.0|     0|
|2017-01-01 07:00:...|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.045|0.002|1.0|71.0|60.0|  7| 3.0|     0|
|2017-01-01 08:00:...|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.047|0.002|1.1|72.0|60.0|  8| 0.0|     0|
|2017-01-01 09:00:...|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.047|0.002|1.1|74.0|63.0|  9| 3.0|     0|
|2017-01-01 10:00:...|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.045|0.004|1.0|76.0|68.0| 10| 5.0|     0|
|2017-01-01 11:00:...|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.048|0.005|1.0|83.0|74.0| 11| 6.0|     0|
|2017-01-01 12:00:...|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.054|0.005|1.0|93.0|79.0| 12| 5.0|     0|
|2017-01-01 13:00:...|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.005| 0.05|0.007|1.0|94.0|79.0| 13| 0.0|     0|
|2017-01-01 14:00:...|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.006|0.055|0.008|0.9|93.0|78.0| 14|-1.0|     0|
|2017-01-01 15:00:...|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.006|0.056|0.008|0.8|87.0|69.0| 15|-9.0|     0|
|2017-01-01 16:00:...|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.006|0.063|0.004|0.9|87.0|69.0| 16| 0.0|     0|
|2017-01-01 17:00:...|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.005|0.063|0.002|0.9|91.0|72.0| 17| 3.0|     0|
|2017-01-01 18:00:...|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.005|0.063|0.002|1.0|91.0|69.0| 18|-3.0|     0|
|2017-01-01 19:00:...|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.005|0.062|0.002|1.0|92.0|70.0| 19| 1.0|     0|
+--------------------+------------+--------------------+----------+-----------+-----+-----+-----+---+----+----+---+----+------+
only showing top 20 rows

In [106]:
df7.printSchema()

root
 |-- timestamp: timestamp (nullable = true)
 |-- Station_code: integer (nullable = true)
 |-- Address: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- SO2: double (nullable = false)
 |-- NO2: double (nullable = true)
 |-- O3: double (nullable = true)
 |-- CO: double (nullable = true)
 |-- PM10: double (nullable = true)
 |-- PM25: double (nullable = true)
 |-- id: long (nullable = false)
 |-- diff: double (nullable = true)
 |-- status: string (nullable = true)

In [120]:
selectdata=df7.select("SO2","NO2","O3","CO","PM10","PM25","diff","status")

In [122]:
from pyspark.ml.feature import (VectorAssembler,VectorIndexer,
                                OneHotEncoder,StringIndexer)

In [123]:
stringIndexer = StringIndexer(inputCol="status", outputCol="statusIndex")
model = stringIndexer.fit(selectdata)
indexed = model.transform(selectdata)

In [124]:
encoder = OneHotEncoder(inputCol="statusIndex", outputCol="statusVec")
encoded = encoder.transform(indexed)

In [121]:
plot2=selectdata.groupBy("status").count().orderBy("status")
plot2.show()

+------+-----+
|status|count|
+------+-----+
|     0|25362|
|     1|  172|
|     2|  118|
|     4|   43|
|     8|   64|
|     9|  146|
+------+-----+

In [125]:
encoded.show()

+-----+-----+-----+---+----+----+----+------+-----------+-------------+
|  SO2|  NO2|   O3| CO|PM10|PM25|diff|status|statusIndex|    statusVec|
+-----+-----+-----+---+----+----+----+------+-----------+-------------+
|0.004|0.059|0.002|1.2|73.0|57.0| 0.0|     0|        0.0|(5,[0],[1.0])|
|0.004|0.058|0.002|1.2|71.0|59.0| 2.0|     0|        0.0|(5,[0],[1.0])|
|0.004|0.056|0.002|1.2|70.0|59.0| 0.0|     0|        0.0|(5,[0],[1.0])|
|0.004|0.056|0.002|1.2|70.0|58.0|-1.0|     0|        0.0|(5,[0],[1.0])|
|0.003|0.051|0.002|1.2|69.0|61.0| 3.0|     0|        0.0|(5,[0],[1.0])|
|0.003|0.046|0.002|1.1|70.0|61.0| 0.0|     0|        0.0|(5,[0],[1.0])|
|0.003|0.049|0.002|1.1|66.0|57.0|-4.0|     0|        0.0|(5,[0],[1.0])|
|0.003|0.045|0.002|1.0|71.0|60.0| 3.0|     0|        0.0|(5,[0],[1.0])|
|0.004|0.047|0.002|1.1|72.0|60.0| 0.0|     0|        0.0|(5,[0],[1.0])|
|0.003|0.047|0.002|1.1|74.0|63.0| 3.0|     0|        0.0|(5,[0],[1.0])|
|0.004|0.045|0.004|1.0|76.0|68.0| 5.0|     0|        0.0|(5,[0],[1.0])|
|0.004|0.048|0.005|1.0|83.0|74.0| 6.0|     0|        0.0|(5,[0],[1.0])|
|0.004|0.054|0.005|1.0|93.0|79.0| 5.0|     0|        0.0|(5,[0],[1.0])|
|0.005| 0.05|0.007|1.0|94.0|79.0| 0.0|     0|        0.0|(5,[0],[1.0])|
|0.006|0.055|0.008|0.9|93.0|78.0|-1.0|     0|        0.0|(5,[0],[1.0])|
|0.006|0.056|0.008|0.8|87.0|69.0|-9.0|     0|        0.0|(5,[0],[1.0])|
|0.006|0.063|0.004|0.9|87.0|69.0| 0.0|     0|        0.0|(5,[0],[1.0])|
|0.005|0.063|0.002|0.9|91.0|72.0| 3.0|     0|        0.0|(5,[0],[1.0])|
|0.005|0.063|0.002|1.0|91.0|69.0|-3.0|     0|        0.0|(5,[0],[1.0])|
|0.005|0.062|0.002|1.0|92.0|70.0| 1.0|     0|        0.0|(5,[0],[1.0])|
+-----+-----+-----+---+----+----+----+------+-----------+-------------+
only showing top 20 rows

In [127]:
assembler = VectorAssembler(
    inputCols=["SO2", "NO2","O3","CO","PM10","diff","statusVec"],
    outputCol="features")

In [128]:
output = assembler.transform(encoded)

In [129]:
output.printSchema()
output.head(1)

root
 |-- SO2: double (nullable = false)
 |-- NO2: double (nullable = true)
 |-- O3: double (nullable = true)
 |-- CO: double (nullable = true)
 |-- PM10: double (nullable = true)
 |-- PM25: double (nullable = true)
 |-- diff: double (nullable = true)
 |-- status: string (nullable = true)
 |-- statusIndex: double (nullable = true)
 |-- statusVec: vector (nullable = true)
 |-- features: vector (nullable = true)

[Row(SO2=0.004, NO2=0.059, O3=0.002, CO=1.2, PM10=73.0, PM25=57.0, diff=0.0, status='0', statusIndex=0.0, statusVec=SparseVector(5, {0: 1.0}), features=SparseVector(11, {0: 0.004, 1: 0.059, 2: 0.002, 3: 1.2, 4: 73.0, 6: 1.0}))]

In [130]:
final_data = output.select("features",'PM25')
final_data.show()

+--------------------+----+
|            features|PM25|
+--------------------+----+
|(11,[0,1,2,3,4,6]...|57.0|
|[0.004,0.058,0.00...|59.0|
|(11,[0,1,2,3,4,6]...|59.0|
|[0.004,0.056,0.00...|58.0|
|[0.003,0.051,0.00...|61.0|
|(11,[0,1,2,3,4,6]...|61.0|
|[0.003,0.049,0.00...|57.0|
|[0.003,0.045,0.00...|60.0|
|(11,[0,1,2,3,4,6]...|60.0|
|[0.003,0.047,0.00...|63.0|
|[0.004,0.045,0.00...|68.0|
|[0.004,0.048,0.00...|74.0|
|[0.004,0.054,0.00...|79.0|
|(11,[0,1,2,3,4,6]...|79.0|
|[0.006,0.055,0.00...|78.0|
|[0.006,0.056,0.00...|69.0|
|(11,[0,1,2,3,4,6]...|69.0|
|[0.005,0.063,0.00...|72.0|
|[0.005,0.063,0.00...|69.0|
|[0.005,0.062,0.00...|70.0|
+--------------------+----+
only showing top 20 rows

In [131]:
train_data,test_data = final_data.randomSplit([0.8,0.2])

In [132]:
train_data.show()
train_data.describe().show()

+--------------------+------------------+
|            features|              PM25|
+--------------------+------------------+
|(11,[0,1,2,3,4],[...|22.850453580389885|
|(11,[0,1,2,3,4],[...|22.850453580389885|
|(11,[0,1,2,3,4],[...|22.850453580389885|
|(11,[0,1,2,3,4],[...|22.850453580389885|
|(11,[0,1,2,3,4],[...|22.850453580389885|
|(11,[0,1,2,3,4],[...|22.850453580389885|
|(11,[0,1,2,3,4],[...|22.850453580389885|
|(11,[0,1,2,3,4],[...|22.850453580389885|
|(11,[0,1,2,3,4],[...|22.850453580389885|
|(11,[0,1,2,3,4],[...|22.850453580389885|
|(11,[0,1,2,3,4],[...|22.850453580389885|
|(11,[0,1,2,3,4],[...|22.850453580389885|
|(11,[0,1,2,3,4],[...|22.850453580389885|
|(11,[0,1,2,3,4],[...|22.850453580389885|
|(11,[0,1,2,3,4],[...|22.850453580389885|
|(11,[0,1,2,3,4],[...|22.850453580389885|
|(11,[0,1,2,3,4],[...|22.850453580389885|
|(11,[0,1,2,3,4],[...|              12.0|
|(11,[0,1,2,3,4],[...|              20.0|
|(11,[0,1,2,3,4],[...|              20.0|
+--------------------+------------------+
only showing top 20 rows

+-------+------------------+
|summary|              PM25|
+-------+------------------+
|  count|             20698|
|   mean| 22.66714554911413|
| stddev|17.568120214453906|
|    min|               0.0|
|    max|             191.0|
+-------+------------------+

In [133]:
test_data.show()
test_data.describe().show()

+--------------------+----+
|            features|PM25|
+--------------------+----+
|(11,[0,1,2,3,4],[...|14.0|
|(11,[0,1,2,3,4,5]...|17.0|
|(11,[0,1,2,3,4,5]...|17.0|
|(11,[0,1,2,3,4,5]...|19.0|
|(11,[0,1,2,3,4,5]...|21.0|
|(11,[0,1,2,3,4,6]...|13.0|
|(11,[0,1,2,3,4,6]...|14.0|
|(11,[0,1,2,3,4,6]...|15.0|
|(11,[0,1,2,3,4,6]...| 6.0|
|(11,[0,1,2,3,4,6]...|13.0|
|(11,[0,1,2,3,4,6]...|27.0|
|(11,[0,1,2,3,4,6]...| 8.0|
|(11,[0,1,2,3,4,6]...| 7.0|
|(11,[0,1,2,3,4,6]...|11.0|
|(11,[0,1,2,3,4,6]...| 3.0|
|(11,[0,1,2,3,4,6]...| 3.0|
|(11,[0,1,2,3,4,6]...| 3.0|
|(11,[0,1,2,3,4,6]...| 3.0|
|(11,[0,1,2,3,4,6]...| 3.0|
|(11,[0,1,2,3,4,6]...| 2.0|
+--------------------+----+
only showing top 20 rows

+-------+------------------+
|summary|              PM25|
+-------+------------------+
|  count|              5207|
|   mean| 22.14048483499211|
| stddev|16.564878834415612|
|    min|               0.0|
|    max|             152.0|
+-------+------------------+

In [135]:
from pyspark.ml.regression import LinearRegression

In [136]:
lr = LinearRegression(featuresCol='features', labelCol='PM25', predictionCol='prediction')

In [137]:
correct_model = lr.fit(train_data)

In [138]:
test_results = correct_model.evaluate(test_data)

In [139]:
test_results.residuals.show()
print("RMSE: {}".format(test_results.rootMeanSquaredError))
# Print R-Squared.
print("r2: {}".format(test_results.r2))

+--------------------+
|           residuals|
+--------------------+
|-0.44294349331080696|
| -2.2124195078696225|
|  3.6225289006525117|
|  0.6986145328581017|
|   3.827793981178754|
|   2.223991798767269|
|   3.046070923180743|
|   2.709150618192133|
|  0.9351996421338598|
|  0.9583694873424804|
| -1.7946169007890518|
|  -8.466617304159925|
|  2.6441795834660162|
|   3.120826163053348|
|   0.363821787977741|
|  0.7867807600754944|
|  0.2580910110079606|
|  2.3289481415271593|
|   1.800258392459626|
| -3.3993137879675537|
+--------------------+
only showing top 20 rows

RMSE: 8.17831189113407
r2: 0.7561997061521781

In [140]:
# Print the coefficients and intercept for linear regression
print("Coefficients: {}".format(str(correct_model.coefficients))) # For each feature...
print('\n')
print("Intercept:{}".format(str(correct_model.intercept)))

Coefficients: [-583.9839613150671,117.81947055130345,43.90186575093384,7.640224915163791,0.528689749067533,0.32705007941266045,-2.215660469893606,4.8232533607720445,-9.156436241266865,-1.7945020711628836,-4.054594425647106]


Intercept:-1.7617990937992114

In [108]:
df7.stat.corr("SO2","PM25")

0.17282307850456896

In [111]:
df7.stat.corr("NO2","PM25")

0.5274193953698306

In [112]:
df7.stat.corr("CO","PM25")

0.35807770994631544

In [113]:
df7.stat.corr("O3","PM25")

-0.03001099285915479

In [115]:
df7.stat.corr("Latitude","PM25")

nan

In [116]:
df7.stat.corr("Station_code","PM25")

nan

In [117]:
df7.stat.corr("Longitude","PM25")

nan

In [118]:
df7.stat.corr("PM10","PM25")

0.8500864132405491

In [119]:
df7.stat.corr("diff","PM25")

0.18482124840808153

In [126]:
encoded.printSchema()

root
 |-- SO2: double (nullable = false)
 |-- NO2: double (nullable = true)
 |-- O3: double (nullable = true)
 |-- CO: double (nullable = true)
 |-- PM10: double (nullable = true)
 |-- PM25: double (nullable = true)
 |-- diff: double (nullable = true)
 |-- status: string (nullable = true)
 |-- statusIndex: double (nullable = true)
 |-- statusVec: vector (nullable = true)